/.DS_Store
/img/.DS_Store
/less/.DS_Store
/sections/.DS_Store
/sections/revo-contact/.DS_Store
/sections/revo-header/.DS_Store
/sections/revo-latest/.DS_Store
/splash.psd
/thumb.psd
/sections/beefy/js/.DS_Store
/sections/beefy/.DS_Store